@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MakeMyTrip Travel Service</h1>
    <br>
    <strong>Online Travel Platform</strong> <br>
        
        
            <strong>Easy Booking Process</strong> <br>
        
            <strong>Wide Range of Options</strong> <br />
       
            <strong>Best Price Guarantee</strong> <br />
       
            <strong>Customer Support</strong><br />
        
            <strong>Travel Planning Tools</strong><br />
        
            <strong>Secure Payments</strong><br />
           
</div>
